/* ========= INFORMATION ============================
	- document:  WP Coder!
	- author:    Dmytro Lobov 
	- url:       https://wow-estore.com/
==================================================== */
.childcont{
	border: 2px solid red;
	height: 400px;
	width: 400px;
}